In [1]:
import numpy as np
import pandas as pd


from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

from wordcloud import WordCloud

In [67]:
pd.set_option('display.max_rows', 50)

In [2]:
df_da_or = pd.read_csv('info_data_analyst_clean.csv')
df_ds_or = pd.read_csv('info_data_scientist_clean.csv')

In [18]:
df_da = df_da_or.copy()
df_ds = df_ds_or.copy()

In [23]:
df_da.drop(columns = 'Unnamed: 0', inplace=True)
df_ds.drop(columns = 'Unnamed: 0', inplace=True)

In [24]:
df_da.head(1)

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción
0,Amazon,Junior Data Analyst,Barcelona,6 horas,66,Sin experiencia,Software Servicios y tecnologías de la informa...,Jornada completa,Estrategia/planificación Análisis Tecnología d...,Description\n\nJunior Data Analyst\nWe are hir...

### Concatenar los dos DF creando columna para agrupar por tipo.

In [37]:
df_da['Tipo puesto'] = pd.Series('')
df_ds['Tipo puesto'] = pd.Series('')

In [38]:
df_da['Tipo puesto'] = 'Data Analyst'
df_ds['Tipo puesto'] = 'Data Scientist'

In [63]:
df = pd.concat([df_da, df_ds])

In [64]:
df = df.reset_index()

In [65]:
df.drop(columns = 'index', inplace=True)

In [68]:
df

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción,Tipo puesto
0,Amazon,Junior Data Analyst,Barcelona,6 horas,66,Sin experiencia,Software Servicios y tecnologías de la informa...,Jornada completa,Estrategia/planificación Análisis Tecnología d...,Description\n\nJunior Data Analyst\nWe are hir...,Data Analyst
1,Packlink.com,Business Data Analyst,Madrid,1 semana,638,Intermedio,Servicios y tecnologías de la información Logí...,Jornada completa,Negocios Tecnología de la información Análisis,Do you want to be a part of a fast-paced compa...,Data Analyst
2,Mutua Madrileña,Data Analyst,Madrid,2 semanas,3490,Algo de responsabilidad,Seguros,Jornada completa,Otro,Anunciado por\nAdriana Sánchez\nExperta Desarr...,Data Analyst
3,Lookiero,Data Analyst,Respaldiza,2 semanas,3374,Intermedio,Sector textil,Jornada completa,Ingeniería Tecnología de la información,Anunciado por\nElena Martín\nTalent Acquisitio...,Data Analyst
4,YEGO,Junior Data Analyst,Barcelona,3 días,1122,Sin experiencia,Software Marketing y publicidad Transporte por...,Jornada completa,Ciencias Análisis Tecnología de la información,Mission\nAs a Junior Data Analyst you will sup...,Data Analyst
...,...,...,...,...,...,...,...,...,...,...,...
995,Page Personnel,Java Developer - International Telecommunicati...,Barcelona,3 meses,23,Sin experiencia,Servicios y tecnologías de la información Dota...,Jornada completa,Ingeniería Tecnología de la información,Java Developer - International Telecommunicati...,Data Scientist
996,Siemens Gamesa,Data Engineer - Digital Ventures Lab (f/m/x),Sarriguren,3 días,49,Sin experiencia,Construcción Dotación y selección de personal ...,Jornada completa,Tecnología de la información,It takes the brightest minds to be a technolog...,Data Scientist
997,Barcelona Supercomputing Center,Quantum algorithms researcher (R3),Barcelona,1 semana,77,Algo de responsabilidad,Servicios y tecnologías de la información Soft...,Jornada completa,Investigación Análisis Tecnología de la inform...,Context and Mission\n\nThe Quantic group is a ...,Data Scientist
998,Grupo Digital,Data Engineer / Data Integration PowerCenter,Barcelona,3 días,33,Sin experiencia,Servicios y tecnologías de la información Soft...,Jornada completa,Tecnología de la información,Seleccionamos para importante compañia del sec...,Data Scientist
999,Universitat Pompeu Fabra - Barcelona,Data Analyst UPF-La Caixa - Full Time Research...,Barcelona,2 días,406,Sin experiencia,Enseñanza superior Investigación Biotecnología,Jornada completa,Tecnología de la información,The Department of Economics and Business at Un...,Data Scientist

### Gráficos:

In [76]:
df[df['Tipo puesto']=='Data Scientist']

,Nombre empresa,Puesto ofertado,Ubicación,Días activos,Nº Solicitudes,Nivel experiencia,Sector,Tipo jornada,Funciones laborales,Descripción,Tipo puesto
500,Amazon,Data Scientist,Barcelona,2 días,749,no_data,Software Servicios y tecnologías de la informa...,Jornada completa,Ingeniería Tecnología de la información,Description\n\nWe are looking for a Data Scien...,Data Scientist
501,Zurich Insurance Company Ltd,Data Scientist,Barcelona,11 horas,180,Intermedio,Seguros Servicios financieros,Jornada completa,Estrategia/planificación,The purpose of Zurich is...\n\nWhat are we loo...,Data Scientist
502,El Corte Inglés,Data Engineer,Madrid,1 semana,2011,Algo de responsabilidad,Venta al por menor Artículos de consumo Servic...,Jornada completa,Consultoría Ingeniería Tecnología de la inform...,Si lo que buscas es una empresa innovadora y l...,Data Scientist
503,WIRIS,Data Engineer,Barcelona,1 semana,305,Algo de responsabilidad,Software,Jornada completa,Tecnología de la información,Anunciado por\nJulia Abad Castelló\nTalent Acq...,Data Scientist
504,MANGO,Data Scientist,Palau-solità,7 horas,215,Algo de responsabilidad,Venta al por menor,Jornada completa,Análisis Negocios Tecnología de la información,Buscamos un/a Data Scientist para que se incor...,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...
995,Page Personnel,Java Developer - International Telecommunicati...,Barcelona,3 meses,23,Sin experiencia,Servicios y tecnologías de la información Dota...,Jornada completa,Ingeniería Tecnología de la información,Java Developer - International Telecommunicati...,Data Scientist
996,Siemens Gamesa,Data Engineer - Digital Ventures Lab (f/m/x),Sarriguren,3 días,49,Sin experiencia,Construcción Dotación y selección de personal ...,Jornada completa,Tecnología de la información,It takes the brightest minds to be a technolog...,Data Scientist
997,Barcelona Supercomputing Center,Quantum algorithms researcher (R3),Barcelona,1 semana,77,Algo de responsabilidad,Servicios y tecnologías de la información Soft...,Jornada completa,Investigación Análisis Tecnología de la inform...,Context and Mission\n\nThe Quantic group is a ...,Data Scientist
998,Grupo Digital,Data Engineer / Data Integration PowerCenter,Barcelona,3 días,33,Sin experiencia,Servicios y tecnologías de la información Soft...,Jornada completa,Tecnología de la información,Seleccionamos para importante compañia del sec...,Data Scientist
999,Universitat Pompeu Fabra - Barcelona,Data Analyst UPF-La Caixa - Full Time Research...,Barcelona,2 días,406,Sin experiencia,Enseñanza superior Investigación Biotecnología,Jornada completa,Tecnología de la información,The Department of Economics and Business at Un...,Data Scientist